{% extends theme('base.html') %}
{% import 'macro/form.html' as fui %}

{% block content %}
    <div class="ui segment">
        <div class="ui center aligned container">
            {% if logo_url %}
                <a href="{{ url_for('account.index') }}">
                    <img class="ui tiny centered image" src="{{ logo_url }}" alt="{{ website_name }}">
                </a>
            {% else %}
                <i class="massive sign in icon image ui"></i>
            {% endif %}

            <h2 class="ui center aligned header">
                <div class="content">
                    {{ _("Sign in or sign up at %(website)s", website=website_name) }}
                </div>
                <div class="sub header">{% trans %}Manage your information and your authorizations{% endtrans %}</div>
            </h2>
            {% call fui.render_form(form) %}
                <div class="ui buttons">
                    <button name="answer" type="submit" class="ui button" value="sign-in" id="sign-in">
                        {% trans %}Sign in{% endtrans %}
                    </button>
                    <button name="answer" type="submit" class="ui primary button" value="sign-up" id="sign-up">
                        {% trans %}Sign up{% endtrans %}
                    </button>
                </div>
            {% endcall %}
        </div>
    </div>
{% endblock %}
